{% extends 'layout.html' %} {% block main %} {% if data %}
<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-start">Symbol</th>
      <th class="text-end">Shares</th>
      <th class="text-end">Price</th>
      <th class="text-end">TOTAL</th>
    </tr>
  </thead>
  <tbody>
    {% for stock in data["stocks"] %}
    <tr>
      <td class="text-start">{{ stock["symbol"] }}</td>
      <td class="text-end">{{ stock["shares"] }}</td>
      <td class="text-end">${{ stock["price"] }}</td>
      <td class="text-end">{{ stock["total"] }}</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
      <td class="border-0 text-end">${{ data["cash"] }}</td>
    </tr>
    <tr>
      <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
      <td class="border-0 w-bold text-end">${{ data["total"] }}</td>
    </tr>
  </tfoot>
</table>
{% else %}
<div>No data to show.</div>
{% endif %} {% endblock %}
